TABLESTORE_ENDPOINT=https://your-instance.cn-hangzhou.ots.aliyuncs.com
TABLESTORE_INSTANCE_NAME=your-instance
TABLESTORE_EVENTS_TABLE=vocab_learning_events
TABLESTORE_WORDS_TABLE=vocab_word_states
TABLESTORE_APP_TABLE=vocab_app_states
FAMILY_CODE_SALT=replace-with-random-salt
FAMILY_CODE_HASH=replace-with-sha256-hash
TOKEN_SIGNING_SECRET=replace-with-at-least-32-random-characters
FIXED_USER_ID=xiaojunjun
ALLOWED_ORIGIN=https://www.cw2017.com
